
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}
<div class="card text-white bg-primary mb-3" style="width:100%;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Toplam Personel Sayısı: @ViewBag.employeeCount</h5>
    </div>
</div>
<div class="card text-white bg-primary mb-3" style="width:100%;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">En Yüksek Maaşlı Personel: @ViewBag.maxSalaryEmployee</h5>
    </div>
</div>

<div class="card text-white bg-primary mb-3" style="width:100%;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Toplam Şehir Sayısı: @ViewBag.TotalCity</h5>
    </div>
</div>

<div class="card text-white bg-primary mb-3" style="width:100%;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Toplam Maaş Sayısı: @ViewBag.AvgCity</h5>
    </div>
</div>

<div class="card text-white bg-primary mb-3" style="width:100%;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Toplam Şehir Sayısı: @ViewBag.CountCity</h5>
    </div>
</div>

<div class="card text-white bg-primary mb-3" style="width:100%;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Toplam Şehir Sayısı: @ViewBag.CountCity</h5>
    </div>
</div>

<div class="card text-white bg-primary mb-3" style="width:100%;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Toplam Şehir Sayısı:  @ViewBag.sumSalaryFromSoftwareDepartment </h5>
    </div>
</div>
